<html>

<head>
	<!-- args="[meta(name:'app.name')]" -->
	<title><g:message code="default.welcome.title" args="[meta(name:'app.name')]" /> </title>
	<meta name="layout" content="kickstart" />
</head>

<body>
	
	    	<div class="span12">
		    	<div class="center">
					<g:img dir="images" file="imagen1.jpg" />
				</div>
	    </div>

</body>

</html>
