<label for="subexamrayx" class="control-label">Examen de Rayos X</label><br><br>
<div class="controls"  style="margin-left: 15px;">
    <g:select id="subexamrayx" name="subexamrayx.id" multiple="multiple" from="${subexamrayxList}" optionKey="id" size="10"
              onchange="agregarExamen1(this.value, this.options[this.selectedIndex].text)" />
</div>